{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}

    <div class="admin_categories">

        <div class="admin_choices">
            <a href="{{ path('categorie_index') }}"> Categories </a>
        </div>

        <div class="admin_choices">
            <a href="{{ path('sous_categorie_index') }}"> Sous-categories </a>
        </div>

        <div class="admin_choices">
            <a href="{{ path('utilisateur_index') }}"> Gestion Utilisateur </a>
        </div>

        <div class="admin_choices">
            <a href="{{ path('produit_index') }}"> Gestion Produits </a>
        </div>

        <div class="admin_choices">
            <a href="{{ path('commande_index') }}"> Gestion Commandes </a>
        </div>

        <div class="admin_choices">
            <a href="{{ path('entreprise_index') }}"> Gestion Entreprises </a>
        </div>
        <div class="admin_choices">
            <a href="{{ path('signalement_index') }}"> signalement</a>
        </div>

    </div>
{% endblock %}

