{% extends 'base.html.twig' %}

{% block title %}SousCategorie index{% endblock %}

{% block body %}
    <div class="window-categories">
        <h1>Sous-catégorie index</h1>
        <div class="window-categories__list">
            <h4>ID</h4>
            <h4>libelle</h4>
            <h4></h4>
            <h4></h4>
            {% for sous_categorie in sous_categories %}
                <div>{{ sous_categorie.id }}</div>
                <div>{{ sous_categorie.nom }}</div>
                <div>
                    <a href="{{ path('sous_categorie_edit', {'id': sous_categorie.id}) }}">
                        <button class="button button--green ">
                            Modifier
                        </button>
                    </a>
                </div>
                <div>{{ include('sous_categorie/_delete_form.html.twig') }}
                </div>

            {% else %}
                <tr>
                    <td colspan="3">Aucune sous-catégorie trouvée</td>
                </tr>
            {% endfor %}
        </div>
        <a href="{{ path('sous_categorie_new') }}" class="center">
            <button class="button button--green button--lg ">
                Creer une sous-catégorie
            </button>
        </a>
    </div>


{% endblock %}
