{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}


{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="">
        <div class="h1Inscription">
            <h1>Inscription</h1>
        </div>
        <div class="formulaireInscription">


                <div class="col-2">
                {{ form_start(registrationForm) }}
                  <div class="registrationFormNom">
                {{ form_row(registrationForm.nom) }}
                  </div>
                        <div class="registrationFormPrenom">
                    {{ form_row(registrationForm.prenom) }}
                        </div>
                            <div class="registrationFormEmail">
                        {{ form_row(registrationForm.email) }}
                            </div>
                                <div class="registrationFormTelephone">
                            {{ form_row(registrationForm.telephone) }}
                                </div>
                                    <div class="registrationFormAdresse">
                                {{ form_row(registrationForm.adresse) }}
                                    </div>
                                        <div class="registrationFormEmail">
                                        {{ form_row(registrationForm.codePostal) }}
                                        </div>
                                            <div class="registrationFormEmail">
                                        {{ form_row(registrationForm.ville) }}
                                            </div>
                                                <div class="registrationFormEmail">
                                    {{ form_row(registrationForm.plainPassword, {
                                        label: 'Mot de passe: '
                                    }) }}
                                                </div>
                {{ form_row(registrationForm.agreeTerms) }}
                <div class="boutonInscription">
                    <button type="submit" class="btn btn-primary">Inscription</button>
                </div>
                {{ form_end(registrationForm) }}
                </div>
    </div>
    </div>

    {% block javascripts %}
        <script src="{{ asset('Javascripts/CodePostal.js') }}"></script>
        <script>requeteAjaxGet('#registration_form_codePostal', 'change', '#registration_form_ville')</script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    {% endblock %}
{% endblock %}



