{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <div class="creationProduit">
        <div class="col-12">
            <div class="col-2">
                {{ form_start(EntrepriseForm) }}
                {{ form_row(EntrepriseForm.nom) }}
                {{ form_row(EntrepriseForm.siret) }}
                {{ form_row(EntrepriseForm.email) }}
                {{ form_row(EntrepriseForm.telephone) }}
            </div>
            <div class="col-1"></div>
            <div class="col-4">
                {{ form_row(EntrepriseForm.adresse) }}
                {{ form_row(EntrepriseForm.codePostal) }}
                {{ form_row(EntrepriseForm.ville) }}
                {{ form_row(EntrepriseForm.description) }}
            </div>
            <div class="col-1"></div>
            <div class="col-2">
                {{ form_row(EntrepriseForm.justificatifSiret) }}
                {{ form_row(EntrepriseForm.carteIdentite) }}
                {{ form_row(EntrepriseForm.photos) }}
                {{ form_end(EntrepriseForm) }}
            </div>
        </div>
    </div>
    <div class="boutonPublier">
        <button class="btn button" type="submit">Publier</button>
    </div>

    {% block javascripts %}
        <div class="boutonPhoto">
            <script src="{{ asset('Javascripts/CodePostal.js') }}"></script>
            <script>requeteAjaxGet('#entreprise_form_codePostal', 'change', '#entreprise_form_ville')</script>
            <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        </div>

    {% endblock %}
{% endblock %}

