{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    {{ form_start(EntrepriseForm) }}
        <div class="creationProduit">

                    <div class="wrapper wrapper--w680 justify-content-center">
                        <div class="row">
                            <div class=" ">
                                <div class="row sm-10" >
                                    <div class="col-sm-6">{{ form_row(EntrepriseForm.nom) }}</div>
                                    <div class="col-sm-6">{{ form_row(EntrepriseForm.siret) }}</div>
                                    <div class="col-sm-6">{{ form_row(EntrepriseForm.email) }}</div>
                                    <div class="col-sm-6">{{ form_row(EntrepriseForm.telephone) }}</div>
                                    <div class="col-sm-6">{{ form_row(EntrepriseForm.adresse) }}</div>
                                    <div class="col-sm-6">{{ form_row(EntrepriseForm.codePostal) }}</div>
                                    <div class="col-sm-6">{{ form_row(EntrepriseForm.ville) }}</div>
                                    <div class="col-sm-6">{{ form_row(EntrepriseForm.description) }}</div>
                                    <div class="col-sm-4">{{ form_row(EntrepriseForm.justificatifSiret) }}</div>
                                    <div class="col-sm-4">{{ form_row(EntrepriseForm.carteIdentite) }}</div>
                                    <div class="col-sm-4"> {{ form_row(EntrepriseForm.photos) }}</div>
                                    </div>
                                </div>
                          </div>
                        </div>
                        </div>
                    </div>


        </div>

        <div class="boutonPublier">
            <button class="bouton-submit" type="submit">Publier</button>
        </div>
    {{ form_end(EntrepriseForm) }}
    {% block javascripts %}
        <div class="boutonPhoto">
            <script src="{{ asset('Javascripts/CodePostal.js') }}"></script>
            <script>requeteAjaxGet('#entreprise_form_codePostal', 'change', '#entreprise_form_ville')</script>
            <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        </div>

    {% endblock %}
{% endblock %}
