{% extends 'base.html.twig' %}

{% block title %}Entreprise index{% endblock %}

{% block body %}
    <h1>Entreprise index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Telephone</th>
                <th>Email</th>
                <th>Siret</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entreprise in entreprises %}
            <tr>
                <td>{{ entreprise.id }}</td>
                <td>{{ entreprise.nom }}</td>
                <td>{{ entreprise.adresse }}</td>
                <td>{{ entreprise.telephone }}</td>
                <td>{{ entreprise.email }}</td>
                <td>{{ entreprise.siret }}</td>
                <td>{{ entreprise.description }}</td>
                <td>
                    <a href="{{ path('entreprise_show', {'id': entreprise.id}) }}">Consulter</a>
                    <a href="{{ path('entreprise_edit', {'id': entreprise.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Pas d'entreprise trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
