{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="window-inscriprion">
        <h1>Modification Partenaire</h1>
        {{ form_start(form) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.siret) }}
        {{ form_row(form.email) }}
        {{ form_row(form.telephone) }}
        {{ form_row(form.adresse) }}
        {{ form_row(form.codePostal) }}
        {{ form_row(form.ville) }}
        {{ form_row(form.description) }}
        {% if app.request.attributes.get('_route') == 'modifierEntreprise' %}
        <div class="images ">
            {% for fichier in  entreprise.fichier %}
                {% if fichier.typeFichier == "Photos_presentation_entreprise" %}
                    <div class="images__image">
                        <img src="{{ asset('img/EntreprisePhoto/'~fichier.urlFichier) }}" alt="photo_entreprise">
                        <a href="{{ path('supprimePhotoEntreprise' , {'id' : fichier.id}) }}" data-delete data-token="{{ csrf_token('delete'~fichier.id) }}">
                            <button class="button button--red center">
                                Supprimer
                            </button>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
            {{ form_row(form.photos) }}
        {% endif %}
        {% if app.request.attributes.get('_route') == 'modifierEntreprise' %}
            <div class="images ">
                {% for fichier in  entreprise.fichier %}
                    {% if fichier.typeFichier == "Document_Kbis_Entreprise" %}
                        <div class="images__image ">
                            <img src="{{ asset('img/KbisPhoto/'~fichier.urlFichier) }}" alt="photo_entreprise">
                            <a href="{{ path('supprimePhotoEntreprise' , {'id' : fichier.id}) }}" data-delete data-token="{{ csrf_token('delete'~fichier.id) }}">
                                <button class="button button--red center">
                                    Supprimer
                                </button>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {{ form_row(form.justificatifSiret) }}
            <div class="images ">
                {% for fichier in  entreprise.fichier %}
                    {% if fichier.typeFichier == "Document_carte_ID_Entreprise" %}
                        <div class="images__image ">
                            <img src="{{ asset('img/EntrepriseCarteID/'~fichier.urlFichier) }}" alt="photo_entreprise">
                            <a href="{{ path('supprimePhotoEntreprise' , {'id' : fichier.id}) }}" data-delete data-token="{{ csrf_token('delete'~fichier.id) }}">
                                <button class="button button--red center">
                                    Supprimer
                                </button>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {{ form_row(form.carteIdentite) }}
        {% endif %}

        <button type="submit" class="button button--green center button--lg" >mise a jour</button>

        {{ form_end(form) }}
    </div>
    {% block javascripts %}
        <script src="{{ asset('Javascripts/CodePostal.js') }}"></script>
        <script>requeteAjaxGet('#entreprise_form_codePostal', 'change', '#entreprise_form_ville')</script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="{{ asset('Javascripts/Fichiers.js') }}"></script>
    {% endblock %}
{% endblock %}
