
{% extends 'base.html.twig' %}

{% block body %}

    {% if app.user.entreprise %}
        <div class="row">
            <div class="col-lg-2 col-sm-7 ">
                <p> {{ app.user.entreprise.nom }} </p>
                <p> {{ app.user.entreprise.telephone }} </p>
                <p> {{ app.user.entreprise.ville }} </p>
                <p> {{ app.user.entreprise.adresse }} </p>
                <p> {{ app.user.entreprise.email }} </p>
            </div>
            <div class="col-6">
                <div class="row">
                    {# verifier si la route est "/partenaire" #}
                    {% if app.request.attributes.get('_route') == 'Partenaire' %}
                        <h3> Photos de votre entreprise</h3>
                        {% for fichier in  fichiers %}
                            <div class="col-3">
                                {% if fichier.typeFichier == "Photos_presentation_entreprise" %}
                                    <img src={{ asset('img/EntreprisePhoto/'~fichier.urlFichier) }} alt="photo_entreprise" class="rounded mx-auto">
                                    <a href="{{ path('supprimePhotoEntreprise' , {'id' : fichier.id}) }}" data-delete data-token="{{ csrf_token('delete'~fichier.id) }}">Supprimer</a>
                                {% endif%}
                            </div>
                        {% endfor %}
                        {{ form_start(photoAjoutForm) }}
                        {{ form_row(photoAjoutForm.fichier) }}
                        <button type="submit" class="btn btn-primary">Ajouter</button>
                        {{ form_end(photoAjoutForm) }}
                    {% endif %}
                </div>
            </div>
        </div>

    {% else %}

        <a href="{{ path('InscriptionFournisseur') }}">Faire ma demande d'inscription</a>

    {% endif %}

    {% block javascripts %}
        <script src="{{ asset('Javascripts/Fichiers.js') }}"></script>
        {% endblock %}
{% endblock %}


{% block title %}
{% endblock %}

