{% extends 'base.html.twig' %}

{% block title %}Entreprise{% endblock %}

{% block body %}
    <div class="window-entreprise">
        <div class="test">
            <h1>{{ entreprise.nom }}

            </h1>
            {% set type = 1 %}
            {% set numero = entreprise.id %}
            {% include ('signalement/ signalement.twig') %}
        </div>
        <div class="window-entreprise__photos ">
            <div class="window-entreprise__photos__image ">
                {% for fichier in  entreprise.fichier %}
                    {% if fichier.typeFichier == "Photos_presentation_entreprise" %}
                        <img src="{{ asset('img/EntreprisePhoto/'~fichier.urlFichier) }}" alt="photo_entreprise" >
                    {% endif %}
                {% endfor %}

            </div>
        </div>

        <div class="window-entreprise__description">
            {{ entreprise.description }}
        </div>
        <div class="window-entreprise__produits articles">
            {{ include('inc/__card.html.twig') }}
        </div>
        <div class="window-entreprise__info">
            <div> Nom : {{ entreprise.nom }} </div>
            <div> Tel : {{ entreprise.telephone }} </div>
            <div> Adresse : {{ entreprise.adresse }} </div>
            <div> Ville : {{ entreprise.ville }} </div>
            <div> Email : {{ entreprise.email }} </div>
        </div>
        {% if app.user %}
            {% if app.user.entreprise %}
                {% if app.user.vendeur %}
                {% else %}
                    <div>
                        <p> Votre demande est en cours d'examination, vous recevrez une confirmation par email au plus
                            vite ! </p>
                        <p>Profitez en pour choisir des photos de présentations et pour entrer une description</p>
                    </div>
                {% endif %}
                {% if app.user.entreprise == produit.entreprise %}
                    <a href="{{ path('modifierEntreprise', {'id': entreprise.id}) }}">
                        <button class="button button--green">
                            Modifier mes informations
                        </button>
                    </a>
                {% endif %}
            {% endif %}
        {% endif %}
        </div>

{% endblock %}