{% extends 'base.html.twig' %}

{% block body %}


    <div class="col-3">
        {{ form_start(ajoutProduitForm) }}
        {{ form_row(ajoutProduitForm.nomArticle) }}
        {{ form_row(ajoutProduitForm.description) }}
        {{ form_row(ajoutProduitForm.prix) }}
        {{ form_row(ajoutProduitForm.stock) }}
        {{ form_row(ajoutProduitForm.sousCategorie) }}
        <button type="submit" class="btn btn-primary">Ajout produit</button>
        {{ form_end(ajoutProduitForm) }}
    </div>

{% endblock %}

{% block title %}

{% endblock %}
