{% extends 'base.html.twig' %}

{% block body %}


    <div class="col-3">
        {{ form_start(ajoutProduitForm) }}
        {{ form_row(ajoutProduitForm.nomArticle) }}
        {{ form_row(ajoutProduitForm.description) }}
        {{ form_row(ajoutProduitForm.prix) }}
        {{ form_row(ajoutProduitForm.stock) }}
        {{ form_row(ajoutProduitForm.categorie) }}
        {{ form_row(ajoutProduitForm.sousCategorie) }}
        {{ form_row(ajoutProduitForm.photos) }}
        <button type="submit" class="btn btn-primary">Ajout produit</button>
        {{ form_end(ajoutProduitForm) }}
    </div>


    <script src="{{ asset('Javascripts/Categorie.js') }}"></script>
    <script>requeteAjaxGet('#produit_categorie', 'change', '#produit_sousCategorie')</script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
{% endblock %}

{% block title %}

{% endblock %}
