{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/made-in-loire.css') }}"
          xmlns="http://www.w3.org/1999/html" title="Acceuil" xmlns="http://www.w3.org/1999/html"/>

    <div class="container">


        <h3>{{ produit.entreprise }}</h3>
        <div class="row">
            {% for photo in produit.fichiers %}

                <img src={{ asset('img/ProduitPhoto/'~photo.urlFichier) }} alt="photo_entreprise" class="rounded"
                width="350" height="350">
            </div>
        <div class="descriptionProduit">
            <h5>Description du Produit</h5>
                <p>{{ produit.description }}</p>
        </div>
        {% endfor %}

        <h3>{{ produit.nomArticle }}</h3>
        <div class="row">
            {% for photo in produit.fichiers %}
                <div class = "col-lg-3 col-md-6 col-sm-12 mb-4">
                    <img src={{ asset('img/ProduitPhoto/'~photo.urlFichier) }} alt="photo_entreprise" class="rounded">
                </div>
            {% endfor %}
        </div>
        <div>
            <a href="{{ path('produitPartenaire', {'id' : produit.entreprise.id}) }}">Vitrine de "{{ produit.entreprise.nom }}"</a>

        </div>
    </div>
    {% block javascripts %}
        <script src="{{ asset('Javascripts/Fichiers.js') }}"></script>
    {% endblock %}
{% endblock %}




