{% extends 'base.html.twig' %}

{% block title %}Edit Produit{% endblock %}

{% block body %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/made-in-loire.css') }}"
          xmlns="http://www.w3.org/1999/html" title="Acceuil" xmlns="http://www.w3.org/1999/html"/>



    <h3>Modifier "{{ produit.nomArticle }}"</h3>

    <div class="modifierProduit">
    <div class="row">
        <div class="col-7">
            {{ include('produit/_form.html.twig', {'button_label': 'Modifier'}) }}
            <a href="{{ path('produitPartenaire') }}" class="btn btn-outline-primary">Retour</a>
            {{ include('produit/_delete_form.html.twig') }}
        </div>
        <div class="col-9">
            <div class="row">
                {% for fichier in  produit.fichiers %}
                    {% if fichier != null %}
            </div>
        </div>
    </div>
    </div>
                        <div class="imgModifierProduit">
                        <div class = "col-12">
                            <a href="{{ path('modifierProduit', {'id' : produit.id } ) }}">
                                <img src={{ asset('img/ProduitPhoto/'~fichier.urlFichier) }} alt="photo_produit" class="rounded mx-auto" width="150px" height="150px">
                            </a>
                            <a href="{{ path('supprimePhotoProduit' , {'id' : fichier.id}) }}" data-delete data-token="{{ csrf_token('delete'~fichier.id) }}" class="btn btn-outline-primary">Supprimer</a>
                        </div>
                        </div>

                    {% endif%}
                {% endfor %}




    {% block javascripts %}
        <script src="{{ asset('Javascripts/Fichiers.js') }}"></script>
    {% endblock %}
{% endblock %}
