{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}

    <h1>Liste de produits proposés</h1>

    <div class="row">


        {% for produit in  produits %}
            <div class = col-3>
                {% if produit.fichiers is not empty %}
                    <div class = col-3>
                        <a href="{{ path('modifierProduit', {'id' : produit.id } ) }}"> <img src={{ asset('img/ProduitPhoto/'~produit.fichiers[0].urlFichier) }} alt="photo_produit" class="rounded mx-auto"></a>
                    </div>
                {% endif%}
                <div class="row">
                    <div class="col-12">
                        {{ produit.nomArticle }}
                        <div class="row">
                            <div class="col-12">
                                {{ produit.description }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <a href={{ path('AjoutProduit') }}>Ajouter un produit</a>
    </div>
    {% block javascripts %}
        <script src="{{ asset('Javascripts/Fichiers.js') }}"></script>
    {% endblock %}
{% endblock %}

