{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/made-in-loire.css') }}"
          xmlns="http://www.w3.org/1999/html" title="Acceuil" xmlns="http://www.w3.org/1999/html"/>

    <div class="container">
        <h3>Chez {{ app.user.entreprise }}</h3>

        <div class="row">
            <div class="col-6">
                filtres a créer
            </div>
            <div class="col-6 mb-4">
                <div id="carouselExampleIndicators" class="carousel slide carousel-dark" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% if photosEntreprise is not empty %}
                            {% for fichier in entreprise.fichier %}
                                {% if fichier.typeFichier == "Photos_presentation_entreprise" %}
                                    {% if fichier.urlFichier == photosEntreprise[0].urlFichier  %}
                                         <div class="carousel-item active">
                                            <img src={{ asset('img/EntreprisePhoto/'~fichier.urlFichier) }} class="d-block w-100 alt="...">
                                         </div>
                                    {% else %}
                                        <div class="carousel-item">
                                             <img src={{ asset('img/EntreprisePhoto/'~fichier.urlFichier) }} class="d-block w-100 alt="...">
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <div class="carousel-item active">
                                <img src={{ asset('img/Erreurs/notFound.png')}} class="d-block w-100 alt="">
                            </div>
                        {% endif%}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            {% for produit in  produits %}
                <div class = "col-lg-3 col-md-6 col-sm-12 mb-4">
                    <div class="card" style="height: 420px; ">
                        {% if produit.fichiers is not empty %}
                            <a href="{{ path('modifierProduit', {'id' : produit.id } ) }}"> <img src={{ asset('img/ProduitPhoto/'~produit.fichiers[0].urlFichier) }} class="card-img-top" alt="photo-produit" height="auto"></a>
                        {% else %}
                            <a href="{{ path('modifierProduit', {'id' : produit.id } ) }}"> <img src={{ asset('img/Erreurs/notFound.png')}} class="card-img-top" alt="photo-erreur" ></a>
                        {% endif%}
                        <div class="card-body">
                            <h5 class="card-title">{{ produit.nomArticle }}   </h5>
                            <p class="card-text">{{ produit.description }}</p>
                            <a href="{{ path('modifierProduit', {'id' : produit.id} ) }}" class="btn btn-primary">Modifier</a>
                            <b class="">{{produit.prix ~ ' €'}}</b>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <a href={{ path('AjoutProduit') }}>Ajouter un produit</a>
        </div>
    </div>
    {% block javascripts %}
        <script src="{{ asset('Javascripts/Fichiers.js') }}"></script>
    {% endblock %}
{% endblock %}




