<div class="formulaireInformationCompte">
    {{ form_start(form) }}
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Telephone</th>
            <th>Adresse</th>
            <th>Vendeur</th>
            <th>Vérifié</th>
            <th>Actif</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ utilisateur.id }}</td>
            <td>{{ utilisateur.email }}</td>
            <td>{{ utilisateur.roles ? utilisateur.roles|json_encode : '' }}</td>
            <td>{{ utilisateur.nom }}</td>
            <td>{{ utilisateur.prenom }}</td>
            <td>{{ utilisateur.telephone }}</td>
            <td>{{ utilisateur.adresse }}</td>
            <td>{{ form_row(form.vendeur) }}</td>
            <td>{{ utilisateur.isVerified ? 'Yes' : 'No' }}</td>
            <td>{{ form_row(form.actif) }}</td>
            <td>
                <button class="btn btn-outline-success" type="submit">Enregistrer</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
{{ form_end(form) }}
