{% extends 'base.html.twig' %}

{% block title %}Utilisateur index{% endblock %}

{% block body %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/made-in-loire.css') }}"
          xmlns="http://www.w3.org/1999/html" title="Acceuil" xmlns="http://www.w3.org/1999/html"/>
    <h1>Utilisateur index</h1>


    <div class="container">
        <div class="row clearfix">

                <div class="card chat-app">
                        <li class=" col-12">
                            <ul class="col-lg-1">
                            </ul>
                            <ul class="col-lg-1">
                                <div class="name">nom</div>
                            </ul>
                            <ul class="col-lg-1">
                                <div class="name">prenom </div>
                            </ul>
                            {% if (is_granted("ROLE_ADMIN")) %}
                                <ul class="col-lg-2">
                                    <div class="name">email</div>
                                </ul>
                                <ul class="col-lg-2">
                                    <div class="name">telephone</div>
                                </ul>
                                <ul class="col-lg-2">
                                    <div class="name">adresse</div>
                                </ul>
                                <ul class="col-lg-1">
                                </ul>
                            {% endif %}
                            <ul class="col-lg-1">
                            </ul>
                            <ul class="col-lg-1">
                            </ul>
                        </li>
                    {% for utilisateur in utilisateurs %}
                        <li class=" col-12">
                            <ul class="col-lg-1">
                                <img src="https://thispersondoesnotexist.com/image" alt="avatar">
                            </ul>
                            <ul class="col-lg-1">
                                <div class="name">{{ utilisateur.nom }}</div>
                            </ul>
                            <ul class="col-lg-1">
                                <div class="name">{{ utilisateur.prenom }}</div>
                            </ul>
                            {% if (is_granted("ROLE_ADMIN")) %}
                                <ul class="col-lg-2">
                                    <div class="name">{{ utilisateur.email }}</div>
                                </ul>
                                <ul class="col-lg-2">
                                    <div class="name">{{ utilisateur.telephone }}</div>
                                </ul>
                                <ul class="col-lg-2">
                                    <div class="name"{{ utilisateur.adresse }}</div>
                                </ul>
                                <ul class="col-lg-1">
                                    <a href="{{ path('utilisateur_edit', {'id': utilisateur.id}) }}" class="btn btn-primary btn-sm active">Modifier</a>
                                </ul>
                            {% endif %}
                            <ul class="col-lg-1">
                                <a href="{{ path('utilisateur_show', {'id': utilisateur.id}) }}" class="btn btn-primary btn-sm active">Consulter</a>
                            </ul>
                            <ul class="col-lg-1">
                                <a href="{{ path('conversation_newConversation', {'id': utilisateur.id}) }}" class="btn btn-primary btn-sm active">contacter</a>
                            </ul>
                        </li>
                    {% else %}
                        <tr>
                            <td colspan="12">Aucun utilisateur trouvé</td>
                        </tr>
                    {% endfor %}
                </div>


        </div>
    </div>
{% endblock %}
