{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
    <h1>Commande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commande.id }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ commande.prix }}</td>
            </tr>
            <tr>
                <th>PointLivraison</th>
                <td>{{ commande.adresseLivraison.id }}</td>
            </tr>
            <tr>
                <th>DateCommande</th>
                <td>{{ commande.dateCommande ? commande.dateCommande|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateLivraison</th>
                <td>{{ commande.dateLivraison ? commande.dateLivraison|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>CodeCommande</th>
                <td>{{ commande.codeCommande }}</td>
            </tr>
            <tr>
                <th>Descriptif</th>
                <td>{{ commande.descriptif }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('commande_index') }}">Retour</a>

    <a href="{{ path('commande_edit', {'id': commande.id}) }}">Modifier</a>

    {{ include('commande/_delete_form.html.twig') }}
{% endblock %}
