{% extends '/chat/index.html.twig' %}

{% block title %}Hello ChatController!{% endblock %}

{% block message %}
    <div class="window-chat__messages message">
        {% for mesage in mesages %}
            {% if mesage.utilisateur == user %}
                <div class="message__this">
                    <div>
                        <div class="message__this__corp">{{ mesage.corps }}</div>
                        <div class="message__this__time">{{ mesage.date|date("m/d/Y H:i:s") }}</div>
                    </div>
                </div>
            {% else %}
                <div class="message__other">
                    <div>
                        <div class="message__other__corp">{{ mesage.corps }}</div>
                        <div class="message__other__time">{{ mesage.date|date("m/d/Y H:i:s") }}</div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="window-chat__input">
        <div class="message__writing-area">
            <form class="input-area" id="send-message" action="{{ path('messages_newMessage',{'id': conversationId}) }}" method="post">
                <label>
                    <textarea name="mesage" rows="0"></textarea>
                </label>
                <button type="submit" id="submit-chat">Submit</button>
            </form>
        </div>
    </div>




{#    <div class="col-10">#}
{#        {% for mesage in mesages %}#}
{#            <div>{{ mesage.corps }} {{ mesage.date|date("m/d/Y") }}</div>#}
{#        {% endfor %}#}
{#    </div>#}
{% endblock%}

{% block javascripts %}
    <script src="{{ asset('Javascripts/chat.js') }}">
    </script>
    <script>
        requeteAjaxPost('#send-message','#submit-chat', 'click','{{ path('messages_newMessage',{'id': conversationId}) }}');
        scroll();
        mercure('chat/{{ conversationId }}')
        mercure('utilisateur/{{ user.id }}')
    </script>
{% endblock %}
