{% extends '/chat/index.html.twig' %}

{% block title %}Hello ChatController!{% endblock %}

{% block message %}
        <div class="container ">

            <div class="row d-flex justify-content-center ">
                <div class="col-12 ">

                    <div  class="container " id="messages-chat" >
                        {% for mesage in mesages %}
                            {% if mesage.utilisateur == user %}
                                <div class="d-flex flex-row justify-content-end col-12">
                                    <div>
                                        <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">{{ mesage.corps }}</p>
                                        <p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">{{ mesage.date|date("m/d/Y H:i:s") }}</p>
                                    </div>
                                </div>
                            {% else %}
                                <div class="d-flex flex-row justify-content-start col-12">
                                    <div>
                                        <p class="small p-2 ms-3 mb-1 rounded-3 bg-secondary">{{ mesage.corps }}</p>
                                        <p class="small ms-3 mb-3 rounded-3 text-muted">{{ mesage.date|date("m/d/Y H:i:s") }}</p>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="col-12">
                            <form class="col-10 " id="send-message" action="{{ path('messages_newMessage',{'id': conversationId}) }}" method="post">
                                <div class="form-outline col-10">
                                    <label for="mesage"></label>
                                    <label>
                                        <textarea class="form-control" name="mesage" rows="2"></textarea>
                                    </label>
                                </div>
                            </form>
                            <button type="submit" class="btn btn-primary col-2" id="submit-chat">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{#    <div class="col-10">#}
{#        {% for mesage in mesages %}#}
{#            <div>{{ mesage.corps }} {{ mesage.date|date("m/d/Y") }}</div>#}
{#        {% endfor %}#}
{#    </div>#}
{% endblock%}

{% block javascripts %}
    <script src="{{ asset('Javascripts/chat.js') }}">
    </script>
    <script>
        requeteAjaxPost('#send-message','#submit-chat', 'click','{{ path('messages_newMessage',{'id': conversationId}) }}');
        scroll();
        mercure('chat/{{ conversationId }}')
        mercure('utilisateur/{{ user.id }}')
    </script>
{% endblock %}
