{% extends 'base.html.twig' %}

{% block title %}Hello ChatController!{% endblock %}

{% block body %}
{#  todo work in progress  #}
    <div class="window-chat">
        <div class="window-chat__conversations">
            {% for conversation in conversations %}
                <a class="conversation" href="{{ path('app_chat_Conversation', {'id': conversation.id}) }}">
                    {% for utilisateur in conversation.user %}
                        {% if utilisateur != user %}
                            <div class="conversation__image">
                                {% if conversation.lastMessage != null %}
                                    {% if  user != conversation.lastMessage.utilisateur and  conversation.nMessageNonVue != 0%}
                                        <span class="conversation__image__puce">{{ conversation.nMessageNonVue|length > 2? conversation.nMessageNonVue|slice(0, 0) ~ '99+' : conversation.nMessageNonVue }}</span>
                                    {% endif %}
                                {% endif %}
                                <img class="conversation__image__picture" src="https://thispersondoesnotexist.com/image" alt="avatar">
                            </div>
                            <div class="conversation__info">
                                {% if conversation.nom %}
                                   {{ conversation.nom}}
                                {% else %}
                                   <h3>{{ utilisateur.nom}} {{ utilisateur.prenom}}</h3>
                                {% endif %}
                                {% if conversation.lastMessage != null %}
                                    <br>{{ conversation.lastMessage.corps|length > 20? conversation.lastMessage.corps|slice(0, 20) ~ '...' : conversation.lastMessage.corps}}
                                {% endif %}
                            </div>

                        {% endif %}
                    {% endfor %}
                </a>
            {% endfor%}
        </div>
        {% block message %}
        {% endblock %}
    </div>


{#todo a supr#}


{% endblock %}
{% block javascripts %}
    <script src="{{ asset('Javascripts/chat.js') }}">
    </script>
    <script>

        mercure('utilisateur/{{ user.id }}');
    </script>
{% endblock %}
