
{% extends 'base.html.twig' %}


{% block body %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/made-in-loire.css') }}"
          xmlns="http://www.w3.org/1999/html" title="Acceuil" xmlns="http://www.w3.org/1999/html"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css">


    <div class="row">
        <div class = col-12>
            <div class="container">
                <h2>Filtres</h2>
                {{ form_start(filtreFormulaire)  }}

                <div class="row mb-2">
                    <div class="col-2">
                        {{form_row(filtreFormulaire.departement) }}
                    </div>
                    <div class="col-2">
                        {{form_row(filtreFormulaire.categorie)}}
                    </div>
                    <div class="col-2">
                        {{form_row(filtreFormulaire.sousCategorie)}}
                    </div>
                    <div class="col-2">
                        {{ form_row(filtreFormulaire.canton) }}
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-1">
                        {{ form_row(filtreFormulaire.prixMin) }}
                    </div>
                    <div class="col-1">

                        {{ form_row(filtreFormulaire.prixMax) }}
                    </div>
                </div>
                <div class="row col-1">
                    <button class="btn-primary ">{{ button_label|default('rechercher ') }}</button>
                </div>

                {{ form_end(filtreFormulaire) }}

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-9">
                <h3>Tous nos produits</h3>
                {#                        <div class="sliderAll">#}
                {#                            <a href="#slide-1">1</a>#}
                {#                            <a href="#slide-2">2</a>#}
                {#                            <a href="#slide-3">3</a>#}
                {#                            <a href="#slide-4">4</a>#}
                {#                            <a href="#slide-5">5</a>#}
                {#                            <div class="slides">#}
                {#                                <div id="slide-1">#}
                {#                                    1#}
                {#                                </div>#}
                {#                                <div id="slide-2">#}
                {#                                    2#}
                {#                                </div>#}
                {#                                <div id="slide-3">#}
                {#                                    3#}
                {#                                </div>#}
                {#                                <div id="slide-4">#}
                {#                                    4#}
                {#                                </div>#}
                {#                                <div id="slide-5">#}
                {#                                    5#}
                {#                                </div>#}
                {#                            </div>#}
                {#                        </div>#}
                <div class="row">
                    {{ include('inc/__card.html.twig') }}
                </div>
            </div>
            <div class = col-3>
                <div id="maCarte" class="maps">
{#                    <iframe src="https://www.google.com/maps/d/embed?mid=1Vp-lHS6dz1rwNdc-i4V7KSXU_cRMZOy_"#}
{#                            width="500" height="500"></iframe>#}
                </div>
            </div>
        </div>
    </div>
    <aside>
        <h2>Qui Sommmes Nous</h2>
        <div class="quiSommeNous">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere,
                magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna. Nunc viverra imperdiet enim. Fusce est. Vivamus a tellus.
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin pharetra nonummy pede. Mauris et orci.
                Aenean nec lorem. In porttitor. Donec laoreet nonummy augue. Suspendisse dui purus, scelerisque at,
                vulputate vitae, pretium mattis, nunc. Mauris eget neque at sem venenatis eleifend. Ut nonummy.</p>
        </div>
    </aside>

    <script src="{{ asset('Javascripts/Categorie.js') }}"></script>
    <script>requeteAjaxGet('#categorie', 'change', '#sousCategorie')</script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>
    {#    important !!! le JS LEAFLET DOIT ETRE PLACÉ APRES LE CSS LEAFLET#}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
{#    le script markerCluster doit etre déclaré APRES le script Leaflet#}
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
    <script src="{{ asset('Javascripts/Map.js') }}">   </script>
    <script>afficheProduits({{produitMap| json_encode | raw}})</script>

{% endblock %}

{% block title %}


{% endblock %}

