
{% extends 'base.html.twig' %}


{% block body %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/made-in-loire.css') }}"
          xmlns="http://www.w3.org/1999/html" title="Acceuil" xmlns="http://www.w3.org/1999/html"/>


    <div class="row">
        <div class = col-12>
            <div class="container">
                <h2>Filtres</h2>
                {{ form_start(filtreFormulaire)  }}

                <div class="row mb-2">
                    <div class="col-2">
                        {{form_row(filtreFormulaire.departement) }}
                    </div>
                    <div class="col-2">
                        {{form_row(filtreFormulaire.categorie)}}
                    </div>
                    <div class="col-2">
                        {{form_row(filtreFormulaire.sousCategorie)}}
                    </div>
                    <div class="col-2">
                        {{ form_row(filtreFormulaire.canton) }}
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-1">
                        {{ form_row(filtreFormulaire.prixMin) }}
                    </div>
                    <div class="col-1">

                        {{ form_row(filtreFormulaire.prixMax) }}
                    </div>
                </div>
                <div class="row col-1">
                    <button class="btn-primary ">{{ button_label|default('rechercher ') }}</button>
                </div>

                {{ form_end(filtreFormulaire) }}

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h3>Tous nos produits</h3>
            {#                        <div class="sliderAll">#}
            {#                            <a href="#slide-1">1</a>#}
            {#                            <a href="#slide-2">2</a>#}
            {#                            <a href="#slide-3">3</a>#}
            {#                            <a href="#slide-4">4</a>#}
            {#                            <a href="#slide-5">5</a>#}
            {#                            <div class="slides">#}
            {#                                <div id="slide-1">#}
            {#                                    1#}
            {#                                </div>#}
            {#                                <div id="slide-2">#}
            {#                                    2#}
            {#                                </div>#}
            {#                                <div id="slide-3">#}
            {#                                    3#}
            {#                                </div>#}
            {#                                <div id="slide-4">#}
            {#                                    4#}
            {#                                </div>#}
            {#                                <div id="slide-5">#}
            {#                                    5#}
            {#                                </div>#}
            {#                            </div>#}
            {#                        </div>#}
            <div class = "row">
                {% for produit in  produits %}
                    <div class = "col-lg-4 col-md-6 col-sm-12 mb-4">
                        <div class="card" style="height: 420px; ">
                            {% if produit.fichiers is not empty %}
                                <a href="{{ path('produit_detail', {'id' : produit.id } ) }}"> <img src={{ asset('img/ProduitPhoto/'~produit.fichiers[0].urlFichier) }} class="card-img-top" alt="photo-produit" height="auto"></a>
                            {% else %}
                                <a href="{{ path('produit_detail', {'id' : produit.id } ) }}"> <img src={{ asset('img/Erreurs/notFound.png')}} class="card-img-top" alt="photo-erreur" ></a>
                            {% endif%}
                            <div class="card-body">
                                <h5 class="card-title">{{ produit.nomArticle }}   </h5>
                                <p class="card-text">{{ produit.description }}</p>
                                <a href="{{ path('produit_detail', {'id' : produit.id} ) }}" class="btn btn-primary">Détails</a>
                                <b class="">{{produit.prix ~ ' €'}}</b>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            </div>
        </div>
        <div class = col-6>

            <div class="maps">
                <h3>Resultats de votre recherche</h3>
                <iframe src="https://www.google.com/maps/d/embed?mid=1Vp-lHS6dz1rwNdc-i4V7KSXU_cRMZOy_"
                        width="500" height="500"></iframe>
            </div>
        </div>
    </div>

    <aside>
        <h2>Qui Sommmes Nous</h2>
        <div class="quiSommeNous">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere,
                magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna. Nunc viverra imperdiet enim. Fusce est. Vivamus a tellus.
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin pharetra nonummy pede. Mauris et orci.
                Aenean nec lorem. In porttitor. Donec laoreet nonummy augue. Suspendisse dui purus, scelerisque at,
                vulputate vitae, pretium mattis, nunc. Mauris eget neque at sem venenatis eleifend. Ut nonummy.</p>
        </div>
    </aside>

{% endblock %}


{% block title %}



{% endblock %}

