{% extends 'base.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}
    <div class="window-categories">
        <h1>Categorie index</h1>
        <div class="window-categories__list">
            <h4>ID</h4>
            <h4>libelle</h4>
            <h4></h4>
            <h4></h4>
            {% for categorie in categories %}
                <div>{{ categorie.id }}</div>
                <div>{{ categorie.libelle }}</div>
                <div>
                    <a href="{{ path('categorie_edit', {'id': categorie.id}) }}">
                        <button class="button button--green ">
                            Modifier
                        </button>
                    </a>
                </div>
                <div>{{ include('categorie/_delete_form.html.twig') }}
                </div>

            {% else %}
                <tr>
                    <td colspan="3">Aucune catégorie trouvée</td>
                </tr>
            {% endfor %}
        </div>
        <a href="{{ path('categorie_new') }}" class="center">
            <button class="button button--green button--lg ">
                Ajouter une Catégorie
            </button>
        </a>
    </div>
{% endblock %}
