{% for produit in  produits %}
    {% if produit.entreprise.utilisateur.vendeur %}
        {% if produit.entreprise.utilisateur.actif %}
            <div class="article">
                {% if produit.fichiers is not empty %}
                    <img class="article__img" src="{{ asset('img/ProduitPhoto/'~produit.fichiers[0].urlFichier) }}" alt="photo-produit" height="auto">
                {% else %}
                    <img class="article__img" src="{{ asset('img/Erreurs/notFound.png') }}" alt="photo-erreur">
                {% endif %}
                <h5 class="article__info">{{ produit.nomArticle }}</h5>
                <div class="article__info">
                    {{ produit.description|length > 20? produit.description|slice(0, 20) ~ '...' : produit.description}}
                </div>
                <div class="article__info card-prix">
                    {{ produit.prix ~ ' €' }}
                </div>
                <div class="article__info">
                    {% if app.user %}
                        {% if app.user.entreprise == produit.entreprise %}
                            <a href="{{ path('modifierProduit', {'id' : produit.id} ) }}"
                               class="btn button">Modifier</a>
                        {% else %}
                            <a href="{{ path('produit_detail', {'id' : produit.id} ) }}"
                               class="btn button bouton-submit">
                                <i class="bi bi-search"></i>
                            </a>
                            <a href="{{ path('panier_add', {'id' : produit.id , 'provenance' : app.request.attributes.get('_route')}  ) }}"
                               class="btn button bouton-submit">
                                <i class="bi bi-cart-plus"></i>
                            </a>
                        {% endif %}
                    {% else %}
                        <a href="{{ path('produit_detail', {'id' : produit.id} ) }}" class="btn button bouton-submit">Détails</a>
                    {% endif %}
                </div>
            </div>

        {% endif %}
    {% endif %}
{% endfor %}